@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegNumber })
        </td>
    </tr>
}

</table>
