@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Parking";
}

<h2>Vehicles</h2>

<div class="container">

    <div class="row">
        <div class="form-group col-md-4 col-xs-3">
        </div>
        <div class="form-group col-md-8 col-xs-6">
            
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-xs-3">Search on Vehicle Type or Registration Number
        </div>
        <div class="form-group col-md-6 col-xs-3">
            <form method="get">
                <input type="Search" name="searchTerm" class="input_form" @*value="Reg Number OR Vehicle Type "*@ />
            </form>
        </div>
    </div>
</div>
<table class="table">
    <tr>

        <th>
            @ViewBag.FullName
        </th>

        <th>
            @Html.DisplayNameFor(model => model.VehicleType.TypeName)
        </th>



        <th>
            @Html.DisplayNameFor(model => model.RegNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>

                @item.Member.FullName
            </td>

            <td>
                @item.VehicleType.TypeName
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RegNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RegNumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.RegNumber }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RegNumber })
            </td>
        </tr>
    }

</table>
