@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Parking";
}

<h2>Vehicles</h2>

<p>
    @Html.ActionLink("Check In", "Create"), @Html.ActionLink("Search", "Search")
    @*@Html.ActionLink("Check In", "Create")*@
</p>

@*<div class="container">
        <div class="row">
            <div class="form-group col-md-12 col-xs-6">
                <form method="get">
                    <input type="Search" name="searchTerm" class="input_form" />
                    <input type="submit" value="search" />
                </form>
            </div>
        </div>
    </div>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType.TypeName)
        </th>
        <th>
            @ViewBag.FullName
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ParkTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(u => item.Colour)
            </td>
            <td>
                @item.VehicleType.TypeName
            </td>

            <td>

                @item.Member.FullName </td>

            <td>
                @Html.DisplayFor(modelItem => item.ParkTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RegNumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.RegNumber }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RegNumber })
            </td>
        </tr>
    }

</table>
