@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Parking";
}

<h2>Vehicles</h2>

<p>
    @Html.ActionLink("Check In", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel)
        </td>
        <td>
            @Html.ActionLink("Change Details", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Show Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Check Out", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
